<div class="vx-login-container">

  <!-- LOGO -->
  <div class="vx-logo">
    <img src="assets/images/pages/logo.png" alt="Logo VAG XPRESS">
  </div>



  <!-- <div class="vx-metal-plate">
  <div class="vx-metal-text">
    Sistema Central de Operaciones VAG Xpress
    <span>Sistema de Operación y Suministro Automotriz</span>
  </div>
</div> -->



  <div class="vx-system-title">
    Sistema Central de Operaciones VAG Xpress
  </div>

  <div class="vx-system-subtitle">
    - Operación y Suministro Automotriz -
  </div>




  <!-- CARD -->
  <div class="vx-card">

    <h2>Iniciar Sesión</h2>

    <!-- FORM -->
    <form (ngSubmit)="login()">

      <!-- USUARIO -->
      <div class="vx-group">
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          placeholder="Usuario"
          required
        />
      </div>

      <!-- CONTRASEÑA -->
      <div class="vx-group">
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Contraseña"
          required
        />
      </div>

      <!-- ERROR -->
      <div class="vx-error" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>

      <!-- BOTÓN LOGIN -->
      <button class="vx-btn" [disabled]="loading">
        <span *ngIf="!loading">Entrar</span>
        <span *ngIf="loading" class="loader-turbo"></span>
      </button>

    </form>

  </div>

</div>
