<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'Catálogo de Refacciones'"
        [items]="['Inventario']"
        [active_item]="'Catálogo'"
      ></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Catálogo de Refacciones</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"
                    ><i class="material-icons search-icon">search</i></label
                  >
                  <input
                    placeholder="Buscar refacción..."
                    type="text"
                    #filter
                    (keyup)="applyFilter($event)"
                    class="browser-default search-field"
                    aria-label="Search box"
                  />
                </li>
              </ul>
            </div>

            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="select.open()"
                      matTooltip="Mostrar/Ocultar Columnas"
                    >
                      <mat-icon>filter_list</mat-icon>
                      <mat-select
                        #select
                        [(ngModel)]="filter.value"
                        style="width: 200px; display: table"
                        class="column-filter"
                      >
                        <span class="table-column-label"
                          >Mostrar/Ocultar Columnas</span
                        >
                        @for (cd of columnDefinitions; track cd; let i = $index)
                        {
                        <div>
                          <mat-option>
                            <mat-checkbox
                              (click)="$event.stopPropagation()"
                              [(ngModel)]="cd.visible"
                              color="primary"
                            >
                              {{ cd.label }}
                            </mat-checkbox>
                          </mat-option>
                        </div>
                        }
                      </mat-select>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button
                      mat-icon-button
                      (click)="refresh()"
                      matTooltip="Recargar"
                    >
                      <mat-icon>refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10">
                    <button
                      mat-icon-button
                      (click)="exportExcel()"
                      class="col-blue"
                      matTooltip="Descargar XLSX"
                    >
                      <mat-icon class="material-icons-outlined"
                        >file_download</mat-icon
                      >
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="overflow-auto">
            <div class="responsive_table">
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                class="mat-cell advance-table"
              >
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      color="primary"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [ngClass]="'tbl-checkbox'"
                    >
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [ngClass]="'tbl-checkbox'"
                      color="primary"
                    >
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                @for (column of columnDefinitions; track column) { @if
                (column.type !== 'check' && column.type !== 'actionBtn') { @if
                (column.def === 's_nombre_refaccion') {
                <ng-container [matColumnDef]="column.def">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="truncate-text">{{ column.label }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{ column.label }}:</span>
                    <span class="truncate-text">{{
                      row.s_nombre_refaccion
                    }}</span>
                  </mat-cell>
                </ng-container>
                } @else if (column.def === 'n_precio_venta') {
                <ng-container [matColumnDef]="column.def">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="truncate-text">{{ column.label }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{ column.label }}:</span>
                    <span class="truncate-text">{{
                      row.n_precio_venta | currency : "MXN" : "symbol-narrow"
                    }}</span>
                  </mat-cell>
                </ng-container>
                } @else if (column.def === 's_estatus_refaccion') {
                <ng-container [matColumnDef]="column.def">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="truncate-text">{{ column.label }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{ column.label }}:</span>
                    <div>
                      @if (row.s_estatus_refaccion === 'Disponible') {
                      <span class="badge badge-solid-green">Disponible</span>
                      } @else {
                      <span class="badge badge-solid-red">Agotado</span>
                      }
                    </div>
                  </mat-cell>
                </ng-container>
                } @else {
                <ng-container [matColumnDef]="column.def">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="truncate-text">{{ column.label }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{ column.label }}:</span>
                    <span class="truncate-text">{{ row[column.def] }}</span>
                  </mat-cell>
                </ng-container>
                } } }

                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef
                    >Acciones</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row" class="pr-0">
                    <button
                      mat-icon-button
                      class="tbl-action-btn view-icon-btn"
                      matTooltip="Ver Detalles"
                    >
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      class="tbl-action-btn edit-icon-btn"
                      matTooltip="Editar Refacción"
                    >
                      <mat-icon>border_color</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="getDisplayedColumns()"
                ></mat-header-row>
                <mat-row
                  [@rowsAnimation]=""
                  *matRowDef="let row; columns: getDisplayedColumns()"
                  matRipple
                ></mat-row>
              </table>
            </div>
            @if (isLoading) {
            <div class="tbl-spinner">
              <mat-progress-spinner
                color="primary"
                [diameter]="40"
                mode="indeterminate"
              ></mat-progress-spinner>
            </div>
            }

            <mat-paginator
              #paginator
              [length]="dataSource.filteredData.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Seleccionar página de refacciones"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
