<h1 mat-dialog-title>Seleccionar Refacciones Equivalentes</h1>

<div mat-dialog-content>
  @if (isLoading) {
  <div style="display: flex; justify-content: center; padding: 2rem">
    <mat-spinner></mat-spinner>
  </div>
  } @else {
  <mat-form-field class="w-100">
    <mat-label>Refacciones</mat-label>
    <mat-select [formControl]="refaccionMultiCtrl" multiple>
      <mat-option>
        <ngx-mat-select-search
          [formControl]="refaccionMultiFilterCtrl"
          placeholderLabel="Buscar refacción..."
        ></ngx-mat-select-search>
      </mat-option>

      @for (refaccion of filteredRefaccionesMulti | async; track
      refaccion.id_refaccion) {
      <mat-option [value]="refaccion.id_refaccion">
        {{ refaccion.id_refaccion }} - {{ refaccion.s_nombre_refaccion }} ({{
          refaccion.s_marca_refaccion
        }}
        - {{ refaccion.s_numero_parte }})
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  }
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onConfirm()"
    [disabled]="!refaccionMultiCtrl.value?.length"
  >
    Confirmar Selección
  </button>
</div>
