<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{ dialogTitle }}
      </div>
    </div>

    <button type="button"
            class="modal-close-button btn"
            mat-dialog-close>
      ✕
    </button>
  </div>

  <div>
    <div class="form-card">
      <form class="form-field-full"
            [formGroup]="usuariosTableForm"
            (ngSubmit)="submit()">

        <!-- ================= FILA 1 ================= -->
        <div class="row m-b-25">
          <div class="col-sm-6 mt-3">
            <div class="form-group">
              <label class="form-label">Nombre de usuario</label>
              <input type="text"
                     class="form-control"
                     formControlName="name">

              <div class="text-danger"
                   *ngIf="usuariosTableForm.get('name')?.hasError('required')">
                El nombre de usuario es requerido
              </div>
            </div>
          </div>

          <div class="col-sm-6 mt-3">
            <div class="form-group">
              <label class="form-label">Password</label>
              <input class="form-control"
                     [type]="hide ? 'password' : 'text'"
                     formControlName="password">

              <div class="text-danger"
                   *ngIf="usuariosTableForm.get('password')?.hasError('required')">
                La contraseña es requerida
              </div>
            </div>
          </div>
        </div>

        <!-- ================= FILA 2 ================= -->
        <div class="row m-b-25">
          <div class="col-sm-6 mt-3">
            <div class="form-group">
              <label class="form-label">Tipos de usuarios</label>
              <select class="form-select"
                      formControlName="id_tipo_usuario">
                <option value="">Seleccione</option>
                <option *ngFor="let info of tipos_usuarios"
                        [value]="info.id_tipo_usuario">
                  {{ info.s_tipo_usuario }}
                </option>
              </select>

              <div class="text-danger"
                   *ngIf="usuariosTableForm.get('id_tipo_usuario')?.hasError('required')">
                El tipo de usuario es requerido
              </div>
            </div>
          </div>

          <div class="col-sm-6 mt-3">
            <div class="form-group">
              <label class="form-label">Empleados</label>
              <select class="form-select"
                      formControlName="id_empleado">
                <option value="">Seleccione</option>

                <option *ngFor="let empleado of empleados"
                        [value]="empleado.id_empleado">
                  {{
                    empleado.s_nombre
                      + (empleado.s_apellido_paterno ? ' ' + empleado.s_apellido_paterno : '')
                      + (empleado.s_apellido_materno ? ' ' + empleado.s_apellido_materno : '')
                  }}
                </option>

              </select>

              <div class="text-danger"
                   *ngIf="usuariosTableForm.get('id_empleado')?.hasError('required')">
                El empleado es requerido
              </div>
            </div>
          </div>
        </div>

        <!-- ================= BOTONES ================= -->
        <div class="row m-b-25">
          <div class="col-sm-12">
            <div class="example-button-row">
              <button type="submit"
                      class="formSubmitBtn"
                      [disabled]="usuariosTableForm.invalid">
                Guardar
              </button>

              <button type="button"
                      class="formCancelBtn"
                      mat-dialog-close>
                Cancelar
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
