<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Cortes'" [items]="['Home']" [active_item]="'Cortes'"></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="materialTableHeader">

            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Historial de Cortes</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event)"
                    class="browser-default search-field" aria-label="Search box">
                </li>
              </ul>
            </div>

            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <button mat-icon-button (click)="addNew()" class="col-green" matTooltip="Nuevo corte">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </li>
                <li class="tbl-header-btn">
                  <button mat-icon-button (click)="refresh()" matTooltip="Refrescar">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </li>
                <li class="tbl-header-btn" [hidden]="!selection.hasValue()">
                  <button mat-icon-button (click)="removeSelectedRows()" class="col-red" matTooltip="Eliminar">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </li>
                <li>
                  <button mat-icon-button (click)="exportExcel()" class="col-blue" matTooltip="Descargar XLSX">
                    <mat-icon class="material-icons-outlined">file_download</mat-icon>
                  </button>
                </li>
              </ul>
            </div>

          </div>

          <div class="overflow-auto">
            <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">

              <!-- Checkbox -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- ID -->
              <ng-container matColumnDef="id_corte">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.id_corte }}</mat-cell>
              </ng-container>

              <!-- Fecha -->
              <ng-container matColumnDef="d_fecha_corte">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.d_fecha_corte }}</mat-cell>
              </ng-container>

              <!-- Monto Total -->
              <ng-container matColumnDef="n_monto_total">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Monto Total</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.n_monto_total | currency }}</mat-cell>
              </ng-container>

              <!-- Nombre del usuario -->
              <ng-container matColumnDef="nombre_usuario">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.nombre_usuario }}</mat-cell>
              </ng-container>


              <!-- Estatus -->
              <ng-container matColumnDef="b_activo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span *ngIf="row.b_activo == 1" class="badge badge-solid-green">Activo</span>
                  <span *ngIf="row.b_activo != 1" class="badge badge-solid-purple">Inactivo</span>
                </mat-cell>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button color="accent" (click)="editCall(row)" matTooltip="Editar">
                    <app-feather-icons [icon]="'edit'"></app-feather-icons>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
              <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
            </table>

            <div *ngIf="isLoading" class="tbl-spinner">
              <mat-progress-spinner color="primary" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>