<section class="content">
    <div class="content-block">

        <!-- BREADCRUMB -->
        <div class="block-header">
            <app-breadcrumb [title]="'Gastos'" [items]="['Home']" [active_item]="'Gastos'">
            </app-breadcrumb>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <!-- ================= HEADER ================= -->
                    <div class="materialTableHeader">

                        <!-- LEFT -->
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>Lista de Gastos</h2>
                                </li>

                                <li class="tbl-search-box">
                                    <label>
                                        <i class="material-icons search-icon">search</i>
                                    </label>
                                    <input type="text" placeholder="Buscar" (keyup)="applyFilter($event)"
                                        class="browser-default search-field">
                                </li>
                            </ul>
                        </div>

                        <div class="total-box ">
                            <span class="label">Total:</span>
                            <span class="amount">{{ totalGastos | currency:'MXN':'symbol-narrow' }}</span>
                        </div>


                        <!-- RIGHT -->
                        <div class="right">
                            <ul class="tbl-export-btn d-flex align-items-center">


                                <!-- COLUMNAS -->
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-icon-button color="primary" [matMenuTriggerFor]="columnMenu"
                                            matTooltip="Mostrar / Ocultar Columnas">
                                            <mat-icon>filter_list</mat-icon>
                                        </button>

                                        <mat-menu #columnMenu="matMenu">
                                            <div class="menu-header px-3 py-2">
                                                <strong>Mostrar / Ocultar Columnas</strong>
                                            </div>

                                            @for (cd of columnDefinitions; track cd) {
                                            <button mat-menu-item (click)="$event.stopPropagation()">
                                                <mat-checkbox [(ngModel)]="cd.visible" color="primary">
                                                    {{ cd.label }}
                                                </mat-checkbox>
                                            </button>
                                            }
                                        </mat-menu>
                                    </div>
                                </li>

                                <!-- ADD -->
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-icon-button class="col-green" (click)="addNew()"
                                            matTooltip="Agregar Gasto">
                                            <mat-icon>add_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <!-- REFRESH -->
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-icon-button (click)="refresh()" matTooltip="Refrescar">
                                            <mat-icon>refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <!-- EXCEL -->
                                <li>
                                    <div class="export-button m-l-10">
                                        <button mat-icon-button class="col-blue" (click)="exportExcel()"
                                            matTooltip="Descargar Excel">
                                            <mat-icon class="material-icons-outlined">
                                                file_download
                                            </mat-icon>
                                        </button>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="fecha-rango d-flex gap-2 ">
                            <!-- FECHA INICIO -->
                            <li>
                                <mat-form-field appearance="outline" class="mt-3 no-primary fecha-field">
                                    <mat-label>Inicio</mat-label>
                                    <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="fechaInicio"
                                        (dateChange)="onFechaChange()">
                                    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerInicio></mat-datepicker>
                                </mat-form-field>
                            </li>

                            <!-- FECHA FIN -->
                            <li>
                                <mat-form-field appearance="outline" class="mt-3 fecha-field">
                                    <mat-label>Fin</mat-label>
                                    <input matInput [matDatepicker]="pickerFin" [(ngModel)]="fechaFin"
                                        (dateChange)="onFechaChange()">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFin></mat-datepicker>
                                </mat-form-field>
                            </li>
                        </div>
                    </div>
                    <!-- ================= END HEADER ================= -->

                    <!-- ================= TABLE ================= -->
                    <div class="overflow-auto">
                        <div class="responsive_table">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">

                                @for (column of columnDefinitions; track column) {
                                @if (column.type !== 'actions') {

                                <ng-container [matColumnDef]="column.def">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ column.label }}
                                    </mat-header-cell>

                                    <mat-cell *matCellDef="let row">
                                        <span class="mobile-label">{{ column.label }}:</span>

                                        @if (column.def === 'b_movil') {
                                        <mat-icon [ngClass]="row.b_movil === 1 ? 'icon-movil' : 'icon-web'">
                                            {{ row.b_movil === 1 ? 'smartphone' : 'language' }}
                                        </mat-icon>
                                        }
                                        @else if (column.def === 'costo') {
                                        {{ row.costo | currency:'MXN':'symbol-narrow':'1.2-2' }}
                                        }
                                        @else if (column.def === 'fecha') {
                                        {{ row.fecha | date:'dd/MM/yyyy' }}
                                        }
                                        @else {
                                        {{ row[column.def] || '—' }}
                                        }
                                    </mat-cell>
                                </ng-container>

                                }
                                }

                                <!-- ACTIONS -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="verDetalles(row)" matTooltip="Ver detalle">
                                            <mat-icon style="color: #4597e4;">visibility</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: getDisplayedColumns();" matRipple></mat-row>

                            </table>
                        </div>

                        <!-- LOADING -->
                        @if (isLoading) {
                        <div class="tbl-spinner">
                            <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                        }

                        <!-- PAGINADOR -->
                        <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="10"
                            [pageSizeOptions]="[5,10,25,100]">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>