/* Tamaño para desktop */
.current-image-preview,
.new-image-preview {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
  .current-image-preview,
  .new-image-preview {
    max-width: 180px;
    max-height: 180px;
  }
}