form {
  padding-top: 1rem;
}

.icon-nombre { color: #4285F4; }     
.icon-parte { color: #34A853; }
.icon-marca { color: #FBBC05; }
.icon-categoria { color: #EA4335; }
.icon-subcategoria { color: #673AB7; }
