<h1 mat-dialog-title>Carga Masiva de Refacciones</h1>

<div mat-dialog-content>
  <form [formGroup]="itemForm" class="form-container align-items-end">

    <mat-form-field appearance="fill" class="campo-nombre">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="s_nombre_refaccion" />
      <mat-icon matSuffix class="icon-nombre">label</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="campo-no-parte">
      <mat-label>No. Parte</mat-label>
      <input matInput formControlName="s_numero_parte" />
      <mat-icon matSuffix class="icon-no-parte">pin</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="campo-marca">
      <mat-label>Marca</mat-label>
      <mat-select formControlName="id_marca_refaccion">
        @for(c of marcas; track c.id_marca_refaccion){<mat-option
          [value]="c.id_marca_refaccion"
          >{{ c.s_marca_refaccion }}</mat-option
        >}
      </mat-select>
      <mat-icon matSuffix class="icon-marca">star</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="campo-lista">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="id_categoria_refaccion">
        @for(c of categorias; track c.id_categoria_refaccion){<mat-option
          [value]="c.id_categoria_refaccion"
          >{{ c.s_categoria_refaccion }}</mat-option
        >}
      </mat-select>
      <mat-icon matSuffix class="icon-categoria">category</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="campo-lista">
      <mat-label>Subcategoría</mat-label>
      <mat-select formControlName="id_subcategoria_refaccion">
        @for(s of subcategoriasFiltradas; track
        s.id_subcategoria_refaccion){<mat-option
          [value]="s.id_subcategoria_refaccion"
          >{{ s.s_subcategoria_refaccion }}</mat-option
        >}
      </mat-select>
      <mat-icon matSuffix class="icon-subcategoria">dynamic_feed</mat-icon>
    </mat-form-field>

    <div class="actions-container">
      <div class="campo-clase">
        <mat-radio-group
          class="clase-radio-group"
          formControlName="id_clase_refaccion"
        >
          @for(clase of clases; track clase.id_clase_refaccion){
          <mat-radio-button
            [value]="clase.id_clase_refaccion"

            class="clase-radio-{{clase.id_clase_refaccion}}"
          >
            <span class="clase-radio-text" [style.color]="clase.s_color_clase_refaccion">
                {{ clase.s_clase_refaccion }}
            </span>
          </mat-radio-button>
          }
        </mat-radio-group>
      </div>

      <div class="add-button-container">
        <button mat-raised-button color="primary" (click)="agregarItem()">
          Agregar
        </button>
      </div>
    </div>
  </form>

  <hr />

  @if (dataSource.data.length > 0) {
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nombre"
        ><th mat-header-cell *matHeaderCellDef class="header-nombre">Nombre</th>
        <td mat-cell *matCellDef="let element">
          {{ element.s_nombre_refaccion }}
        </td></ng-container
      >
      <ng-container matColumnDef="noParte"
        ><th mat-header-cell *matHeaderCellDef class="header-no-parte">
          No. Parte
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.s_numero_parte }}
        </td></ng-container
      >
      <ng-container matColumnDef="marca"
        ><th mat-header-cell *matHeaderCellDef class="header-marca">Marca</th>
        <td mat-cell *matCellDef="let element">
          {{ getMarcaNombre(element.id_marca_refaccion) }}
        </td></ng-container
      >
      <ng-container matColumnDef="clase">
        <th mat-header-cell *matHeaderCellDef class="header-clase">Clase</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="clase-pill"
            [style.background-color]="getClaseColor(element.id_clase_refaccion)"
          >
            {{ getClaseNombre(element.id_clase_refaccion) }}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="categoria"
        ><th mat-header-cell *matHeaderCellDef class="header-categoria">
          Categoría
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getCategoriaNombre(element.id_categoria_refaccion) }}
        </td></ng-container
      >
      <ng-container matColumnDef="subcategoria"
        ><th mat-header-cell *matHeaderCellDef class="header-subcategoria">
          Subcategoría
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getSubcategoriaNombre(element.id_subcategoria_refaccion) }}
        </td></ng-container
      >
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button
            mat-icon-button
            color="accent"
            (click)="editarItem(i)"
            matTooltip="Editar"
            class="edit-button"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="eliminarItem(i)"
            matTooltip="Eliminar"
            class="delete-button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  }
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardarTodo()">
    Guardar Todo
  </button>
</div>
